* {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
  }

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.createGame {
    background-color: rgb(34, 172, 236);
    justify-content: flex-start;
    height: 300px;
    width: 400px;
}